.message-item {
  display: flex;
  margin: 8px auto;
}

.my-message {
  justify-content: flex-end;
  margin-right: 10%;
}

.received-message {
  justify-content: flex-start;
  margin-left: 5%;
}

.message-body-container {
  max-width: 60%;
}

.message-body {
  flex: 1;
  border-radius: 4px;
  padding: 8px 12px;
  word-break: break-word;
}

.message-user-name {
  font-size: 25px;
  padding-left: 12px;
  color: white;
}

.my-message .message-body {
  background-color: rgb(69, 164, 253);
  color: white;
  font-size: 25px;
}

.received-message .message-body {
  background-color: rgb(203, 208, 219);
  color: rgb(5, 5, 5);
  font-size: 25px;
}

.message-avatar-container {
  align-self: flex-end;
  margin: 0px 8px;
}

.message-avatar {
  vertical-align: middle;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
